---
import MainLayout from '@/layout/MainLayout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { TAGS } from '@/content/config';

export const getStaticPaths = (async () => {
  const blogPost = await getCollection('blog');

  return TAGS.flatMap((tag) => {
    const filterTagPost = blogPost.filter((post) => post.data.tags.includes(tag));
    return filterTagPost.map((post) => ({
      params: {
        tag: tag,
        slug: post.slug,
      },
      props: {
        post: post,
      },
    }));
  });
}) satisfies GetStaticPaths;

const { data, render } = Astro.props.post;
const { image, description, title } = data;

const { Content, headings } = await render();
---

<MainLayout titulo={title} descripction={description} imagen={image}>
  <ol>
    {
      headings
        .filter(({ text }) => text && !text.toLowerCase().includes('ejemplo'))
        .map(({ slug, text }, index) => (
          <li>
            <a href={`#${slug}`}>
              {index + 1}- {text}
            </a>
          </li>
        ))
    }
  </ol>
  <Content />
</MainLayout>
